/* 
    Made by: theqoobee;
 */


.hidden {
    display: none;
}

#mainNav {
    min-height: 56px;
    background-color: #fff;
}
body {
    overflow: hidden!important;
}
input, select {
    background-color: rgba(200, 200, 200, .8)!important;
    color: #000!important;
    box-shadow: none!important;
}
#output {
    background-color: rgba(120, 120, 120, .7);
    color: #fff;
    padding: .5rem;
    overflow: hidden;
    height: 100%!important;
    min-height: 7rem;
    border-radius: 2px;
}
::placeholder {
    color: #fff!important;
}
.white::placeholder {
    color: #000!important;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    color: #64a19d;
    border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
    outline: 0;
}
#mainNav .navbar-brand {
    color: #161616;
    font-weight: 700;
    padding: .9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
    color: fade(white, 80%);
    outline: 0;
    background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
    outline: 0;
    background-color: transparent;
}
@media (min-width:768px) {
    #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color .3s ease-in-out;
}
#mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, .5);
}
#mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, .5);
}
#mainNav .nav-link:hover {
    color: rgba(255, 255, 255, .75);
}
#mainNav .nav-link:active {
    color: #fff;
}
#mainNav.navbar-shrink {
    background-color: #fff;
}
#mainNav.navbar-shrink .navbar-brand {
    color: #161616;
}
#mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: .25rem solid transparent;
}
#mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
}
#mainNav.navbar-shrink .nav-link:active {
    color: #467370;
}
#mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: 0;
    border-bottom: .25rem solid #64a19d;
}
}
.masthead {
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, rgba(22, 22, 22, .3) 0, rgba(22, 22, 22, .7) 60%, #161616 100%); /*Optional image: url(../img/bg-masthead.jpg) */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.masthead h1 {
    font-family: 'Varela Round';
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: .8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.masthead.h2 {
    max-width: 20rem;
    font-size: 2rem;
}
@media (min-width:768px) {
    .masthead {
    height: 100vh;
    padding: 0;
}
.masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: .8rem;
}
.masthead h2 {
    max-width: 30rem;
    font-size: 2rem;
}
}
.btn {
    box-shadow: 0 .1875rem .1875rem 0 rgba(0, 0, 0, .1)!important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0;
}
.btn-primary {
    background-color: #64a19d;
}
.btn-primary:hover {
    background-color: #4f837f;
}
.btn-primary:focus {
    background-color: #4f837f;
    color: #fff;
}
.btn-primary:active {
    background-color: #467370!important;
}
body {
    font-family: Nunito;
    letter-spacing: .0625em;
}
a {
    color: #64a19d;
}
a:focus, a:hover {
    text-decoration: none;
    color: #3c6360;
}
.bg-black {
    background-color: #161616!important;
}
.bg-primary {
    background-color: #64a19d!important;
}
.text-primary {
    color: #64a19d!important;
}
footer {
    padding: 5rem 0;
}
